@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 22% 95%;
    --foreground: 222 30% 9%;
    --card: 0 0% 100%;
    --card-foreground: 222 30% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 30% 9%;
    --primary: 142 62% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 92%;
    --secondary-foreground: 220 25% 20%;
    --muted: 220 14% 92%;
    --muted-foreground: 220 10% 46%;
    --accent: 220 14% 90%;
    --accent-foreground: 220 25% 14%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 84%;
    --input: 220 13% 84%;
    --ring: 142 62% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * { @apply border-border; }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #dde1e7 transparent;
  }
  .scrollbar-thin::-webkit-scrollbar { width: 4px; height: 4px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #dde1e7;
    border-radius: 9999px;
  }
}
